<launch>

	<include file="$(find prd_navigation)/launch/building_world.launch">
        <arg name="world_name" value="$(find prd_navigation)/config/ex9.world"/>
    </include>
    <include file="$(find prd_navigation)/launch/turtlebot_navigation.launch"/>
    <include file="$(find prd_navigation)/launch/turtlebot_gazebo_rviz.launch"/>
    
    <node name="post_cmd" pkg="prd_navigation" type="alexa_server.py" output="screen"/>

    <node name="cmd_processor" pkg="prd_navigation" type="command_processor.py" output="screen"/>
</launch>